{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'includes/alert.html' %}

<div class="main-section">

    {% include 'customers/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">

                <!-- SIDEBAR -->
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {% include "includes/customer_sidebar.html" %}
                </div>

                <!-- RIGHT SIDE -->
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">

                            <div class="element-title has-border right-filters-row">
                                <h5>Recent Orders</h5>
                                <div class="right-filters row pull-right">
                                    <div class="col-lg-6 col-md-6 col-xs-6">
                                        <div class="input-field">
                                            <select class="chosen-select-no-single">
                                                <option selected>Select Orders Status</option>
                                                <option value="Processing">Processing</option>
                                                <option value="Cancelled">Cancelled</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- STATIC SAMPLE ORDER LIST -->
                            <div class="user-orders-list">
                                <div class="responsive-table">
                                    <ul class="table-generic">

                                        <li class="order-heading-titles">
                                            <div>Order ID</div>
                                            <div>Date</div>
                                            <div>Total Price</div>
                                            <div>Charges</div>
                                            <div>Received</div>
                                            <div>Status</div>
                                        </li>

                                        <li class="order-heading-titles">
                                            <div><a href="#">order-4443</a></div>
                                            <div>Nov 9, 2025</div>
                                            <div>Rs.388</div>
                                            <div>Rs.390</div>
                                            <div>Rs.350</div>
                                            <div><span class="order-status" style="background-color:#047a06;">Completed</span></div>
                                        </li>

                                        <li class="order-heading-titles">
                                            <div><a href="#">order-4445</a></div>
                                            <div>Nov 19, 2025</div>
                                            <div>Rs.262</div>
                                            <div>Rs.268</div>
                                            <div>Rs.236</div>
                                            <div><span class="order-status" style="background-color:#1e73be;">Processing</span></div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- END RIGHT SIDE -->

            </div>
        </div>
    </div>

</div>

{% endblock %}
